// $neutral-color: #dddddd;
$base-color: #121212;

$text-color: #FFFFFF;
$label-text-color: #989c94;

$contrast-color: #5F00FF;
 $primary-color: #333333;
 $secondary-color: #FF6AC1;
$background-color: $base-color;

// $primary-color: rgba(#222831, 1);
// $contrast-color: #f05454;

// $secondary-color: #30475e;
// $text-color: #e8e6e3;

$beige-color: #e3e7d3;
$border-grey: #989c94;

$text-color-dark: rgba($text-color, 0.9);
$background-gradient: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));

$secondary-background-color: rgba($secondary-color, 0.05);
$secondary-background-color-light: rgba($secondary-color, 0.075);

$border-color-light: rgba(white, 0.25);
$border-color-dark: rgba($primary-color, .15);

$header-font-color: #acc3a6;
