

$filter-color: #004daa;
$text-color: #e8e6e3;

$beige-color: #e3e7d3;
$spanish-grey-color: #989c94;
//BDC2BF - nice grey

$text-color-dark: rgba($text-color, 0.9);

$primary-color: #181a1b;
$secondary-color: rgba(white, 0.025);

$background-gradient: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));

$background-color: rgba($primary-color, 0.95);
$secondary-background-color: rgba($secondary-color, 0.05);
$secondary-background-color-light: rgba($secondary-color, 0.075);

$border-color-light: rgba(white, 0.2);
$border-color-dark: rgba(white, 0.075);


// $header-font-color: rgba($text-color, 0.75);
$header-font-color: #acc3a6;