@use "../../node_modules/bootstrap/scss/bootstrap.scss";
@use "./colors.scss";
@use "./fonts.scss";

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;

$border-light: 1px solid rgba(white, 0.25);
$border-dark: 1px solid rgba(white, 0.125);

%square {
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

%border-style-light {
    border-color: colors.$border-color-light;
    border-radius: 0.375rem;
}

%border-style {
    border-radius: 0.375rem;
}

//      ==============
//*     === Common ===
//      ==============

html {
    height: 100%;
}

body {
    // color: colors.$text-color;
    letter-spacing: 0.5px;
    min-height: 100%;
    background-color: colors.$background-color;
}

header :is(span) {
    @extend %header-font;
    height: 4rem;
}
img {
    max-width: 100%;
    height: inherit;
}

label {
    color: colors.$label-text-color;
}

%max-size {
    height: 100%;
    width: 100%;
}

//      ==================
//*     === Containers ===
//      ==================

.app {
    @extend %max-size;
    position: fixed;
}

.content-container {
    @extend %max-size;
    display: flex;
    flex-direction: column;
}

.face-container {
    font-size: 3rem;
    grid-column: 1 / spread 4;
    display: grid;
    place-content: center;
}

.grid-container {
    justify-content: space-evenly;
    overflow: scroll;
    display: flex;
    padding: 2rem;
    grid-row: 3 / spread 2;
}

.grid-half {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.landing-message {
    grid-column: 1 / spread 4;
    display: grid;
    place-items: center;
}

.grow-spinner-container {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.input-form-container {
    @extend %primary-font;
}

.header-container {
    grid-column: 1 / spread 4;
    border-bottom: $border-dark;
}

.header-item-container {
    border-radius: 10px;
    background-color: colors.$primary-color;
    padding: 0 0.5rem;
    &__sm {
        // margin: 0 auto;
        // padding: 1rem;
    }
}

.header-span {
    font-size: 1.5rem;
    &__sm {
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}

.loading-page {
    color: colors.$primary-color;
    display: grid;
    place-items: center;
    height: 100vh;
    // width: 100vh;
}

.search-container,
.result-container {
    grid-column: 1 / spread;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.search-container {
    position: absolute;

    top: 50%;
    width: 50%;
    transform: translateY(-50%);

    &.top {
        top: 0;
        padding-top: 5%;
        transform: translateY(0);
    }

    &.center {
        top: 50%;
        transform: translateY(-50%);
    }
}

.result-container {
    position: relative;
    bottom: 50%;
    transform: translateY(50%);

    &.center {
        bottom: 50%;
        transform: translateY(50%);
        padding-top: 10%;
    }

    &.bottom {
        top: 15%;
        overflow: scroll;
        padding: 1rem;
        bottom: 0;
        transform: translateY(0);
    }
}

.form-container {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    //overflow:   scroll;
}

%content {
    border: $border-dark;
    padding: 3rem;
    background-color: colors.$primary-color;
    margin: 2rem;
    border-radius: 10px;
    height: fit-content;
}

.form-content {
    @extend %content;

    &__results {
        @extend %content;
    }
}

//      ==================
//*     === Components ===
//      ==================

.header-alert {
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;
    height: 100%;
}

.header-content {
    @extend %header-font;
    display: flex;
    padding: 0.5rem;
}

.error-fallback {
    display: flex;
    align-items: center;
}

.form-control {
    @extend %border-style;
    @extend %primary-font;
    background-color: rgba(white, 0.85);
    border: $border-light;
    border-right: 0;
    transition: background-color 0.5s ease;

    &:focus {
        @extend %border-style;
        background-color: rgba(white, 0.95);
        border-right: 0;
        border-color: rgba(colors.$contrast-color, 0.5);
        box-shadow: 0 0 0 0.25rem rgba(colors.$contrast-color, 0.5);
    }

    &:focus:hover {
        @extend %border-style;
        background-color: rgba(white, 0.95);
        border-right: 0;
        border-color: rgba(colors.$contrast-color, 0.5);
        box-shadow: 0 0 0 0.25rem rgba(colors.$contrast-color, 0.5);
    }

    &:disabled {
        @extend %border-style;
        background-color: rgba(white, 0.5);
        border: $border-light;
        color: rgba(colors.$text-color, 0.7);
        border-right: 0;
    }

    &:hover {
        @extend %border-style;
        background-color: rgba(white, 0.95);
        border-right: 0;
        border-color: rgba(colors.$contrast-color, 0.15);
        box-shadow: 0 0 0 0.25rem rgba(colors.$contrast-color, 0.25);
    }

    &:active {
        @extend %border-style;
        background-color: rgba(white, 0.95);
        border-right: 0;
        border-color: rgba(colors.$contrast-color, 0.15);
        box-shadow: 0 0 0 0.25rem rgba(colors.$contrast-color, 0.5);
    }
}

%form-button {
    @extend %border-style;
    font-size: 1.5rem;
    color: rgba(colors.$text-color, 0.7);
    border: 1px solid colors.$contrast-color;
    background-color: rgba(colors.$contrast-color, 0.8);
    padding: 0 1rem;
}

.form-button.btn {
    @extend %form-button;

    &:hover {
        @extend %form-button;
        background-color: rgba(colors.$contrast-color, 0.9);
        border-color: rgba(colors.$contrast-color, 0.9);
        color: rgba(colors.$text-color, 0.9);
    }

    &:disabled {
        @extend %form-button;
        background-color: rgba(colors.$contrast-color, 0.2);
        border-color: rgba(colors.$contrast-color, 0.2);
        color: rgba(colors.$text-color, 0.2);
    }

    &:active {
        @extend %form-button;
        background-color: rgba(colors.$contrast-color, 0.7);
        border-color: rgba(colors.$contrast-color, 0.7);
        color: rgba(colors.$text-color, 0.7);
    }

    &:focus {
        @extend %form-button;
        background-color: rgba(colors.$contrast-color, 0.7);
        border-color: rgba(colors.$contrast-color, 0.7);
        color: rgba(colors.$text-color, 0.7);
    }
}

%image-button {
    font-size: 1.25rem;
    color: rgba(colors.$text-color, 0.7);
    border: 1px solid colors.$contrast-color;
    background-color: rgba(colors.$contrast-color, 0.8);
    padding: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.image-button {
    @extend %image-button;
    @extend %border-style;
    scale: 90%;

    &:hover {
        @extend %image-button;
        background-color: colors.$contrast-color;
        border-color: colors.$contrast-color;
        color: rgba(colors.$text-color, 0.9);
    }

    &:active {
        @extend %image-button;
        background-color: rgba(colors.$contrast-color, 0.7);
        border-color: rgba(colors.$contrast-color, 0.7);
        color: rgba(colors.$text-color, 0.7);
    }

    &:focus {
        @extend %image-button;
        background-color: rgba(colors.$contrast-color, 0.7);
        border-color: rgba(colors.$contrast-color, 0.7);
        color: rgba(colors.$text-color, 0.7);
    }
}

.image-list {
    display: grid;
    grid-gap: 3rem;
    place-content: center;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.img-thumbnail {
    @extend %border-style;
    background-color: colors.$primary-color;
    border: $border-dark;
}

.image-item {
    @extend %max-size;
    min-width: 0;
    min-height: 0;
    //padding-bottom: 100%;
}

.results {
    //margin: 1rem;
}

.result-info-container {
    @extend %primary-font;
    background-color: colors.$primary-color;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem;
    height: 4rem;
    background: gray;
}

.search-row {
    margin-top: 2rem;
}

@media only screen and (hover: none) and (pointer: coarse) {
    header {
        font-size: 0.75rem;
    }

    .search-container {
        width: 90%;
    }
}
